node_modules
vendor
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.env
.git
.gitignore
npm-debug.log
yarn-error.log
/.phpunit.cache
/public/storage
/public/hot
.idea
.vscode
.docker
